//- ActivityMan-online | An online activity manager
//- Copyright (C) 2023  pssr8
//- 
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- any later version.
//- 
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//- 
//- You should have received a copy of the GNU General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/dist/index.css", type="text/css")
        block styles 
        block title-block
            title
                | Activityman – 
                block title
    body 
        .chassis 
            block chassis